.notification
  %p チャットグループが作成されました

.chat
  .sidebar
    .chat-user
      .chat-user__name
        %h5 Yuta Katahira
      .chat-user__btn
        %i
          = fa_icon "pencil-square-o"
          = fa_icon "cog"
    .chat-groups
      .chat-group
        .chat-group__name
          %p MDS
        .chat-group__message
          %p awesome
      .chat-group
        .chat-group__name
          %p No Name
        .chat-group__message
          %p まだメッセージはありません
  .chat-main
    .chat-header
      .chat-header__left
        %h2 MDS
        %p Members: Yuta Katahira
      .chat-header__right
        %a Edit
    .chat-body
      .chat-messages
        .chat-message
          .chat-message__user
            %p Yuta Katahira
          .chat-message__time
            %p 2016/12/22 21:15:12
          .chat-message__text
            %p きゃっほー
        .chat-message
          .chat-message__user
            %p Ema Watson
          .chat-message__time
            %p 2016/12/28 15:45:23
          .chat-message__text
            %p where ever you are
    .chat-footer
      %form{ action: "#", method: "post"}
      .chat-footer__body
        %textarea{row: "1", placeholder: "type a message"}
        .chat-footer__file
          %i
            = fa_icon "image"
      %input{type: "submit", value: 'Send'}
