.chat
  = render 'layouts/sidebar'
  .chat-main
    .chat-header
      .chat-header__left
        %h2
          = @group.name
        %p
          Members:
          = @group.users.pluck(:name).join(",")
      .chat-header__btns
        .chat-header__btn
        = link_to "Edit", edit_group_path(@group), class: "chat-header__btn"
    .chat-body
      .chat-messages
        .chat-message
          .chat-message__user
            %p Yuta Katahira
          .chat-message__time
            %p 2016/12/22 21:15:12
          .chat-message__text
            %p きゃっほー
        .chat-message
          .chat-message__user
            %p Ema Watson
          .chat-message__time
            %p 2016/12/28 15:45:23
          .chat-message__text
            %p where ever you are
  / .chat-footer
  /   = form_for(@message, id: 'message', class: 'new_message', method: :post ) do |f|
  /     .chat-footer__body
  /       = f.text_area row: '1', placeholder: "type a message"
  /       .chat-footer__file
  /         %i.fa.fa-image
  /     = f.submit 'Send'
