html,body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.chat {
  height: 100%;
  min-width: 980px;
  display: block;
  .sidebar {
    float: left;
    width: 300px;
    height: 100%;
    background-color: #2f3e51;
    overflow-y: scroll;
    .chat-user {
      @include clearfix();
      padding: 20px;
      border: 2px;
      height: 66px;
      background-color: #253141;
      h5 {
        float: left;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        line-height: 60px;
        color: $White;
      }
      &__btn {
        float: right;
        line-height: 60px;
        color: $White;
        text-decoration: none;
        letter-spacing: 6px;
      }
    }
      .chat-groups {
        padding: 0 20px;
        .chat-group {
          padding: 20px 0 40px 0;
          list-style: none;
          &__link {
            text-decoration: none;
            color: $White;
          }
          &__name {
              font-size: 15px;
              list-style: none;
          }
          &__message {
            margin: 5px 0 0 0;
            font-size: 11px;
            list-style: none;
          }
        }
      }
    }
  .chat-main {
    position: relative;
    display: inline-block;
    height: 100%;
    width: $wdh;
    @include clearfix();
    .chat-header {
      border-bottom: 1px solid #eeeeee;
      height: 106px;
      @include clearfix();
      &__left {
        float: left;
        padding-left: 40px;
        h2 {
          font-size: 20px;
          color: #333333;
          padding: 35px 0 15px 0;
        }
        p {
          font-size: 12px;
          color: $Gray;
        }
      }
      &__btns {
        float: right;
        padding-right: 40px;
        padding-top: 28px;
        a {
          display: inline-block;
          text-decoration: none;
          padding-left: 20px;
          padding-top: 7px;
          padding-right: 20px;
          padding-bottom: 7px;
          color: #6699ff;
          border: 2px solid;
        }
      }
    }
    .chat-body {
      background-color: #FAFAFA;
      height: calc(100% - 197px);
      width: $wdh;
      overflow-y: scroll;
      @include clearfix();
      .chat-messages {
        padding: 46px 0px 40px 40px;
        .chat-message {
          &__user {
              font-size: 16px;
              font-weight: bold;
              color: $Black;
              float: left;
              padding-right: 10px;
          }
          &__time {
              font-size: 12px;
              color: $Gray;
              float: left;
              line-height: 25px;
          }
          &__text {
              font-size: 14px;
              color: $Black;
              clear: both;
              padding-bottom: 40px;
              padding-top: 10px;
            }
          }
        }
      }
    .chat-footer {
      right: 0;
      bottom: 0;
      left:0;
      top: 0;
      position: relative;
      background-color: #dddddd;
      padding: 20px 40px;
      height: 50px;
      @include clearfix();
      &__form {
        float: right;
      }
        &__body {
          .message {
            width: calc(100vw - 515px);
            padding-left: 10px;
            padding-right: 10px;
            line-height: 50px;
            height: 50px;
            resize: none;
            border: none;
          }
          .image-file {
            position: absolute;
            opacity: 0.7;
            right: 165px;
            top: 33px;
            .file {
            position: absolute;
            display: none;
          }
        }
      }
      .submit {
        text-align: center;
        border: none;
        width: 100px;
        height: 50px;
        right: 40px;
        bottom: 20px;
        position: absolute;
        background-color: $SkyBlue;
        line-height: 50px;
        color: $White;
        display: inline-block;
      }
    }
  }
}
